@import "../../components/table/table.scss";
@import "../../components/header/header.scss";
@import "../../components/modals/AddModal/add-modal.scss";
@import "../../components/modals/PortfolioModal/portfolio-modal.scss";
@import "../../components/modals/Modal/modal.scss";
@import "../../pages/Currency/currency.scss";
@import "../../components/button/button.scss";

$white: #f9f9f9;
$lite-green: rgb(24, 198, 131);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Montserrat", sans-serif;
	background-color: $white;
}
body {
	&.active {
		overflow: hidden;
	}
}
a {
	color: inherit;
	text-decoration: none;
}

.container {
	max-width: 1605px;
	margin: 100px auto 0;
}

.not-found {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	&__home {
		text-align: center;
	}
}
.dollar-sign {
	color: $lite-green;
	font-weight: 600;
}
.greeting {
	&__content {
		max-width: 900px;
		margin: 0 auto 30px;
		&__title{
			font-weight:900;
			letter-spacing: 2px;
		}
	}
}
@media (max-width: 425px) {
	.modal {
		&__content {
			width: 70%;
		}
	}
}
