.add-modal-window {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__change-block {
		display: flex;
		flex-direction: column;
		align-items: left;
		h3 {
			font-size: 2rem;
		}
		input {
			border: none;
			border-bottom: 1px solid black;
			padding: 10px;
			font-size: 1rem;
			margin-top: 3rem;
		}
	}
	&__total-price {
		border-top: 1px solid rgb(187, 187, 187);
		text-align: right;
		font-size: 1.5rem;
		color: rgb(100, 181, 246);
		margin-top: 3rem;
	}
}
